*,
*:before,
*:after {box-sizing: border-box;}

body {
    color: #f2f0f0
}
header {
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    color: #1b3e59;
}

.new-note-form {
    margin-bottom: 15px;
}
.new-note-content {
    width:100%;
    display: block;
    font-size: 1.5rem;
}

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    list-style-type: none;
    margin: 2em;
    padding: 0;
}
.note {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    border-radius: 5px;
    padding:10px;
    list-style-type: none;
    background: linear-gradient(135deg, #1b3e59 0%,#2989d8 31%,#207cca 62%,#1b3e59 100%);
    font-size: 2em;
    color: #ffac00;
    text-align: center;
}

.note-date {
    color: white;
    font-size:0.7rem;
    margin: 10px 0;
    text-align: left;
    /*display: block;*/
}

input {
    box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
    color: #1b3e59;
}

input::placeholder {
    color: #cde;
    font-size: 0.8em;
}

@media screen and (max-width: 500px) {
    .notes {
        grid-template-columns: auto;
    }
}